body {
    width: 600px;
    margin: 0 auto;
    position: relative; // needed for overlay
}
main {
    min-height: 600px;
    padding: 50px 0;
}
textarea {
    margin-bottom: 10px;
}
.z-div {
    width: 580px;
    padding: 10px;
    position: absolute;
    left: 10px;
    top: 100px;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 7px;
}
.z-div:empty {
    width: 0;
    padding: 0;
    border: 0;
}
.fileinput {
    float: left;
}